<app-board></app-board>

<div class="information">
  <div class="player">
    Player: <span>X</span>
  </div>
  <div class="computer">
    Computer: <span>O</span>
  </div>
  <div class="turn" *ngIf="!gameManagerService.hasFinished()">
    {{ getTurnText() }}
  </div>
  <div class="winner" *ngIf="gameManagerService.hasFinished()">
    Winner: {{ this.gameManagerService.winnerName() === '' ? 'Tie' : this.gameManagerService.winnerName() }}
  </div>
</div>

<div class="controls">
  <button (click)="restart()">Restart</button>
</div>
