<app-board></app-board>

<div class="information">
  <div class="players">
    <div class="player">
      Player: <span class="team-blue">X</span>
    </div>
    <div class="player">
      Computer: <span class="team-red">O</span>
    </div>
  </div>

  <div class="turn" *ngIf="!gameManagerService.hasFinished()">
    {{ getTurnText() }}
  </div>
  <div class="winner" *ngIf="gameManagerService.hasFinished()">
    {{ this.gameManagerService.winnerName() === '' ? 'Tie!' : 'Winner is: ' + this.gameManagerService.winnerName() }}
  </div>
</div>

<div class="controls">
  <button (click)="restart()" class="btn-restart">Restart</button>
</div>
