:host {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-family: Consolas, monaco, monospace;

    border: 3px solid gray;
    border-radius: 5px;
    font-size: 80px;

    margin: 5px;
    user-select: none;
    background-color: white;
}

:host:hover {
    cursor: pointer;
    background-color: antiquewhite;
    transition: background-color 200ms ease;
}