:host {
    display: inline-block;
    width: 100px;
    height: 100px;

    border: 1px solid gray;
    border-radius: 5px;
    font-size: 50px;

    margin: 5px;
}

:host:hover {
    cursor: pointer;
}